<!DOCTYPE html>
<html>
<head>
    <script src="static/jquery.min.js"></script>
</head> 
<body id="body">
        Username: <input id="username" type="text"><br>
        Password: <input id="password" type="password"><br>
        <button id="login">Login</button>
        <h3 id="message"></h3>
        
        <script>
            $('#message').hide();
            $('#login').click(function () {
                sendContactForm();
                return false;
            });

            $('#body').keypress(function (e) {
                if (e.which == 13) {
                    sendContactForm();
                    return false;
                }
            });
    
            function sendContactForm() {
                $('#message').hide();
                let username = $('#username').val();
                let password = $('#password').val();
                let creds = {"username": username, "password": password};
                $.ajax("/login", {
                    data: JSON.stringify(creds),
                    contentType: 'application/json',
                    type: 'POST',
                    success: (result) => {
                        $('#message').text(result);
                        $('#message').show("slow");
                    }
                });               
                
            };

            </script>
    </body>
</html>